NEXT_PUBLIC_SUPABASE_URL=https://zqubndojitbslbbblllo.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_APP_URL=http://localhost:3000

DATABASE_URL=
DIRECT_URL=

GEMINI_API_KEY=
NEXT_PUBLIC_GEMINI_LIVE_ENABLED=false
GEMINI_LIVE_MODEL=gemini-2.5-flash-native-audio-preview-12-2025
GEMINI_ANALYSIS_MODEL=gemini-2.5-flash

QURAN_API_BASE_URL=https://api.quran.com/api/v4
QURAN_FALLBACK_API_BASE_URL=https://api.alquran.cloud/v1
QURAN_TRANSLATION_ID=134
QURAN_RECITATION_ID=7

NEXT_PUBLIC_WHATSAPP_NUMBER=6282262170018
NEXT_PUBLIC_WHATSAPP_URL=https://wa.me/6282262170018
NEXT_PUBLIC_INSTAGRAM_URL=https://www.instagram.com/kajian_qu/
